<%- include("./partials/header"); -%>

<div class="alert alert-dark" role="alert">

    <h2>The current price of <%= crypto %> is <%= price %> <%= fiat %></h2>

</div>



<%- include("./partials/footer"); -%>
